body {
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
  font-weight: 400; /* Regular weight */
  color: #333; /* Dark gray text */
  background-color: #fafafa; /* Light gray background */
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
  font-weight: 700; /* Bold weight */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Call-to-Action Section */
.cta-section {
  padding: 60px 20px;
  text-align: center;
  background-color: #1c6000;
  color: #fafafa; /* CTA text remains white */
}

.cta-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.cta-section p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.cta-button {
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
  background-color: #27a102; /* Green background */
  color: #fff; /* White text */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #1c6000; /* Darker green on hover */
}